.contacts {
    width: 20%;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
    box-shadow: -1px 8px 10px 4px #000;
    border-radius: 6px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    transition: width 0.3s ease;

  &.collapsed {
    width: 50px;
    .contact {
      display: none;
    }
  }

    > .unravel {
      color: #fff;
      font-size: 34px;
      margin-top: 34px;
      background: transparent;
      height: 40px;
      cursor: pointer;
      border: medium none;
    }
  }